<div id="chat-container">
  <div id="chat-messages">
    {{#each messages}}
      <div class="message {{this.role}}">
        <p>{{{markdown this.content}}}</p>
      </div>
    {{/each}}
  </div>
  <form
    id="chat-form"
    action="/postMessage"
    method="POST"
    onsubmit="this.querySelector('button').disabled = true;"
  >
    <input
      type="text"
      id="chat-input"
      name="message"
      placeholder="Type your message here..."
    />
    <input type="hidden" name="history" value="{{json messages}}" />
    <button type="submit">Send</button>
  </form>
</div>